
table{
	width:100%;
	/*border:1px solid black;*/
	border-radius:20%;
	border-collapse:collapse;	
}
th{
	background-color: #215a8e;
	color:#f6f9fb;	
}
th, td{
	text-allign:right;
	border-collapse:collapse;
	padding:8px;	
}
tr:nth-child(even){
    background-color: lightgray;
}

tr:hover{
	background-color:seagreen;
}

