table{
	width:100%;
	border:1px solid black;
	border-radius:10px;
	border-collapse:collapse;	
}
th{
	background-color: #215a8e;
	color:#f6f9fb;	
}
th, td{
	text-allign:left;
	border-collapse:collapse;
	padding:8px;	
}
tr:nth-child(even){
    background-color: lightgray;
}



